body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-color: rgb(255, 255, 255);
    height: 1300px;
    width: 100%;
}

.menu {
    height: 1500px;
    width: 30%;
    float: left;
    color: coral;
    background-color: cornflowerblue;
}

.content {
    height: 1500px;
    width: 70%;
    float: left;
    color: blueviolet;
}

.about.me {
    cursor: pointer;
    height: auto;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lime;
}

.my_media {
    height: auto;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(12, 10, 10);
}

.menu_text {
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 10px 0px;
}

.my.photo {
    width: 80%;
    height: auto;
    position: relative;
    left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.menu_titles {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
}